@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #2d1313dd;
  --foreground-color: #0000006c;
  --third-color: #D77540;
  --font-family: 'Times New Roman', Times, serif;
  --text-color: #fefefe;
}


*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

p{
  color: var(--text-color);
}

.body{
  min-height: 120vh;
  max-height: max-content;
  background-color: var(--bg-color);
}

header{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  background-color: var(--foreground-color);
}

.logo{
  font-size: 22px;
  font-weight: bold;
  color: var(--text-color);
}

.hamburger{
  display: none;
}

.nav-bar ul{
  display: flex;
}

.nav-bar ul li a{
  display: block;
  color: #fefefe;
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 20px;
}

.nav-bar ul li a:hover{
   color: #111011;
   background-color: #fefefe;
}

.nav-bar ul li a.active{
  color: #111011;
  background-color: #fefefe;
}

button {
  color: #000000;
  padding: 15px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


.hero-section{
  display: flex;
  flex-direction: row;
}

.heading{
  font-size: 70px;
  font-style: italic;
  padding-left: 60px;
  margin-top: 160px;
  color: var(--text-color);
}

.heading-2{
  font-size: 70px;
  font-style: italic;
  padding-left: 60px;
  color: var(--text-color);
}

.heading-3{
  font-size: 70px;
  font-style: italic;
  padding-left: 60px;
  color: var(--text-color);
  padding-bottom: 30px;
}

.button-1{
  font-style: italic;
  margin-left: 60px;
  border-radius: 50px;
  background-color: var(--third-color);
}

.button-2{
  font-style: italic;
  margin-left: 10px;
  border-radius: 50px;
  background-color: var(--third-color);
}


.bg-cover{
  margin-top: 40px;
  margin-right: 80px;
  background-image: url("../public/Bird\ Breeding\ Hatching\ Tracking\ Application.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 80%;
  z-index: 1;
}


.body > h1{
  text-align: center;
  color: var(--text-color);
  padding: 20px;
  font-size: 44px;
}

.body > form{
  display: flex;
  flex-direction: column;
  padding-left: 200px;
}

.body > form > label{
  color: var(--third-color);
  padding: 15px 0px 15px 0px;
  /* font-size: 18px; */
}

.body > form > input{
  width: 400px;
  padding: 10px 0px 15px 10px;
}

.body > form > select {
  width: 400px;
  padding: 10px 0px 15px 10px;
}

.body > form > textarea{
  width: 400px;
  padding: 15px 0px 15px 0px;
}

.body > form > button{
  color: var(--bg-color);
  background-color: var(--text-color);
  display: inline;
}

.Submit-btn{
  width: 100px;
  margin-left: 130px;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: var(--text-color);
}



/* Bird tracker */

.body > p{
  padding-left: 20px;
  color: var(--text-color);
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.body > input{
  margin: 20px;
  height: 30px;
  padding: 25px;
  border: none;
  background-color: #ffffffd6;
}


.s-btn{
  border: none;
  background-color: #ffffffd6;
  height: 50px;
  padding: 10px;
}

.health-add-button {
  width: 7rem;
  margin-top: 2rem;
}







@media only screen and (max-width: 1320px) {
  header{
      padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px) {
  header{
      padding: 0 30px;
  }
}

@media only screen and (max-width: 700px) {
  .hamburger{
      display: block;
      cursor: pointer;
  }
  .hamburger .line{
      width: 30px;
      height: 3px;
      background-color: #fefefe;
      margin: 6px 0;
  }
  .nav-bar{
      height: 0px;
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: #280303;
      transition: 0.5s;
  }

  .nav-bar.active{
      height: 300px;
  }

  .nav-bar ul{
      display: block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
      overflow: hidden;
  }

  .nav-bar.active ul{
      opacity: 1;
  }
  .nav-bar ul li a{
      margin-bottom: 12px;
  }

  .hero-section{
    display: flex;
    flex-direction: column;
  }
  
  .heading{
    font-size: 40px;
    font-style: italic;
    padding-left: 40px;
    margin-top: 160px;
    color: var(--text-color);
  }
  
  .heading-2{
    font-size: 40px;
    font-style: italic;
    padding-left: 40px;
    color: var(--text-color);
  }
  
  .heading-3{
    font-size: 40px;
    font-style: italic;
    padding-left: 40px;
    color: var(--text-color);
    padding-bottom: 30px;
  }

  .button-1{
    font-style: italic;
    padding-left: 30px;
    margin-left: 40px;
    border-radius: 50px;
    background-color: var(--third-color);
  }
  
  .button-2{
    font-style: italic;
    margin-left: 10px;
    border-radius: 50px;
    background-color: var(--third-color);
  }
  
  
  .bg-cover{
    margin-top: 40px;
    margin-right: 40px;
    background-image: url("../public/Bird\ Breeding\ Hatching\ Tracking\ Application.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    width: 90%;
    z-index: 1;
  }

  .body > h1{
    text-align: center;
    color: var(--text-color);
    padding: 20px;
    font-size: 28px;
  }
  
  .body > form{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
  }
  
  .body > form > label{
    color: var(--third-color);
    padding: 15px 0px 15px 0px;
    /* font-size: 18px; */
  }
  
  .body > form > input{
    width: 250px;
    padding: 10px 0px 15px 10px;
  }
  
  .body > form > textarea{
    width: 250px;
    padding: 15px 0px 15px 0px;
  }
  
  .body > form > button{
    color: var(--bg-color);
    background-color: var(--text-color);
    display: inline;
  }

  .Submit-btn{
    margin-left: 150px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .s-btn{
    margin: 15px;
  }
}
